
body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 2%);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.395);
  box-shadow: 0px 0px 50px #09dfb4;
  border-radius: 20px;
  margin-top: 80px;
}

.title {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 50px;
  text-shadow: 0px 5px 10px #09dfb4;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

.textarea {
  width: 95%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  resize: vertical;
  font-size: 1rem;
  margin-bottom: 15px;
  background-color: #fbfbfb;
  min-height: 150px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #0e9c80;
  color: white;
}

.submit-button:hover {
  background-color: #48dbbe;
}


.entries-list {
  list-style: none;
  padding: 0;
  
}

.entry-item {
  background-color: #fafafa;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #0e9c80;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #08d2a9;
}
.entry-item:hover{
  background-color: #43ceb2;
}
.entry-content {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 5px;
}

.entry-sentiment {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  
}

.edit-button, .delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button {
  background-color: #edeae5;
  color: white;
  background-color: #333;
}

.delete-button {
  background-color: #333;
  color: white;
}

.edit-button:hover {
  background-color: white;
  color: black;
}

.delete-button:hover {
  background-color: white;
  color: black;
}
